## VAE

사용자의 영화 시청 여부를 바탕으로 인코딩과 디코딩을 통해서 ? 부분을 유추해내는 방식

input = 행 - 사용자, 열 - 영화, 값 - 시청 여부

output = 사용자가 보지 않은 영화에 대하여 추론하여 볼 확률이 높다면 영화를 추천

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [3]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)
meta = meta.rename(columns={'id':'movieId'})

In [4]:
movie.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [6]:
movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], on='movieId')
movie['one'] = 1
movie.head()

   userId movieId  rating   timestamp original_title  one
0       1    1371     2.5  1260759135      Rocky III    1
1       4    1371     4.0   949810302      Rocky III    1
2       7    1371     3.0   851869160      Rocky III    1
3      19    1371     4.0   855193404      Rocky III    1
4      21    1371     3.0   853852263      Rocky III    1

In [7]:
df = movie.pivot_table(index='userId', columns = 'original_title', values = 'one').fillna(0)
df.head()

original_title  !Women Art Revolution  'Gator Bait  ...  해안선    활
userId                                              ...
1                                 0.0          0.0  ...  0.0  0.0
2                                 0.0          0.0  ...  0.0  0.0
3                                 0.0          0.0  ...  0.0  0.0
4                                 0.0          0.0  ...  0.0  0.0
5                                 0.0          0.0  ...  0.0  0.0

[5 rows x 2798 columns]

In [8]:
watching_metrix = df.iloc[:, : ].values

In [9]:
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
import torch.nn.functional as F

In [10]:
# 환경설정
if torch.cuda.is_available():
  DEVICE = torch.device('cuda')
else:
  DEVICE = torch.device('cpu')
print(DEVICE)

cpu

In [11]:
# 학습 조건 설정
BATCH_SIZE = 64
EPOCHS = 100

In [12]:
from torch.utils.data import Dataset
from torch.utils.data import DataLoader

class CustomDataset(Dataset):

  # 데이터 정의
  def __init__(self, x_data, y_data = None):
    self.x_data = x_data
    self.y_data = y_data

  # 이 데이터 셋의 총 데이터 수
  def __len__(self):
    return len(self.x_data)

  # 어떠한 idx를 받았을 때 그에 맞는 데이터를 반환
  def __getitem__(self, idx):
    if self.y_data is None:
      x = torch.FloatTensor(self.x_data[idx])
      return x
    else:
      x = torch.FloatTensor(self.x_data[idx])
      y = torch.FloatTensor(self.y_data[idx])
      return x, y

In [13]:
# AutoEncoder 모델 설계
class Encoder(nn.Module):
    def __init__(self):
        super(Encoder,self).__init__()
        self.fc1_1 = nn.Linear(2798, 256)
        self.fc1_2 = nn.Linear(2798, 256)
        self.relu = nn.ReLU()
                        
    def encode(self, x):
        mu = self.relu(self.fc1_1(x))
        log_var = self.relu(self.fc1_2(x))
                
        return mu,log_var
    
    def reparametrize(self, mu, log_var):
        std = log_var.mul(0.5).exp_()
        eps = torch.FloatTensor(std.size()).normal_().to(DEVICE)
        
        return eps.mul(std).add_(mu)
    
    def forward(self,x):
        mu, log_var = self.encode(x)
        reparam = self.reparametrize(mu,log_var)
        
        return mu,log_var,reparam
        
encoder = Encoder().to(DEVICE)

In [14]:
class Decoder(nn.Module):
    def __init__(self):
        super(Decoder,self).__init__()
        self.fc1 = nn.Linear(256, 2798)
        self.simoid = nn.Sigmoid()
    
    def forward(self,x):
        out = self.fc1(x)
        out = self.simoid(out)
        
        return out
        
decoder = Decoder().to(DEVICE)

In [15]:
reconstruction_function = nn.MSELoss(size_average=False)

def loss_function(recon_x, x, mu, log_var):
    MSE = reconstruction_function(recon_x, x)

    # see Appendix B from VAE paper:
    # Kingma and Welling. Auto-Encoding Variational Bayes. ICLR, 2014
    # https://arxiv.org/abs/1312.6114
    # 0.5 * sum(1 + log(sigma^2) - mu^2 - sigma^2)
    KLD_element = mu.pow(2).add_(log_var.exp()).mul_(-1).add_(1).add_(log_var)
    KLD = torch.sum(KLD_element).mul_(-0.5)

    return MSE + KLD

parameters = list(encoder.parameters())+ list(decoder.parameters())
optimizer = torch.optim.Adam(parameters, lr=0.0005)

In [16]:
def train(encoder, decoder, train_loader):
  encoder.train()
  decoder.train()
  train_loss = 0

  for feature in train_loader:

    feature = feature.to(DEVICE)
    optimizer.zero_grad()
    mu,log_var,reparam = encoder(feature)
    output = decoder(reparam)
    loss = loss_function(output, feature, mu, log_var)
    loss.backward()
    optimizer.step()
    
    train_loss += loss.item()

  train_loss /= len(train_loader)
  return train_loss

In [17]:
def evaluate(encoder, decoder, train_loader):
  encoder.eval()
  decoder.eval()
  result = []

  with torch.no_grad():

    for feature in train_loader:
      feature = feature.to(DEVICE)
      mu,log_var,reparam = encoder(feature)
      output = decoder(reparam)
      result.append(output.cpu().numpy())

  result = np.concatenate(result)
  return result

In [18]:
train_dataset = CustomDataset(watching_metrix)

train_loader = DataLoader(
  train_dataset,
  batch_size = BATCH_SIZE,
  shuffle = False,
  drop_last = False)

for epoch in range(1, EPOCHS + 1):
  train_loss = train(encoder, decoder, train_loader)
  print(f"\n[EPOCH: {epoch}], \tTrain Loss: {train_loss:.4f}")

[EPOCH: 1], 	Train Loss: 45027.5561

[EPOCH: 2], 	Train Loss: 40257.5884

[EPOCH: 3], 	Train Loss: 31879.4373

[EPOCH: 4], 	Train Loss: 24683.6907

[EPOCH: 5], 	Train Loss: 20087.1842

[EPOCH: 6], 	Train Loss: 16697.0109

[EPOCH: 7], 	Train Loss: 14055.5691

[EPOCH: 8], 	Train Loss: 12502.8780

[EPOCH: 9], 	Train Loss: 11236.0267

[EPOCH: 10], 	Train Loss: 10302.6802

[EPOCH: 11], 	Train Loss: 9511.3062

[EPOCH: 12], 	Train Loss: 8759.5720

[EPOCH: 13], 	Train Loss: 8294.9730

[EPOCH: 14], 	Train Loss: 8031.0213

[EPOCH: 15], 	Train Loss: 7551.4337

[EPOCH: 16], 	Train Loss: 7264.2307

[EPOCH: 17], 	Train Loss: 6926.6519

[EPOCH: 18], 	Train Loss: 6603.3744

[EPOCH: 19], 	Train Loss: 6597.1700

[EPOCH: 20], 	Train Loss: 6315.8139

[EPOCH: 21], 	Train Loss: 6321.0552

[EPOCH: 22], 	Train Loss: 6187.4170

[EPOCH: 23], 	Train Loss: 5879.2591

[EPOCH: 24], 	Train Loss: 5712.3802

[EPOCH: 25], 	Train Loss: 5614.2492

[EPOCH: 26], 	Train Loss: 5646.0684

[EPOCH: 27], 	Train Loss: 5649.5819

[EPOCH: 28], 	Train Loss: 5421.6972

[EPOCH: 29], 	Train Loss: 5348.6792

[EPOCH: 30], 	Train Loss: 5320.4719

[EPOCH: 31], 	Train Loss: 5284.4750

[EPOCH: 32], 	Train Loss: 5225.6253

[EPOCH: 33], 	Train Loss: 5248.7401

[EPOCH: 34], 	Train Loss: 5106.5503

[EPOCH: 35], 	Train Loss: 5042.7339

[EPOCH: 36], 	Train Loss: 5033.8112

[EPOCH: 37], 	Train Loss: 4967.4214

[EPOCH: 38], 	Train Loss: 5024.7836

[EPOCH: 39], 	Train Loss: 4954.1477

[EPOCH: 40], 	Train Loss: 4908.3483

[EPOCH: 41], 	Train Loss: 4888.2593

[EPOCH: 42], 	Train Loss: 4911.5893

[EPOCH: 43], 	Train Loss: 4811.3065

[EPOCH: 44], 	Train Loss: 4758.1875

[EPOCH: 45], 	Train Loss: 4802.8964

[EPOCH: 46], 	Train Loss: 4761.8467

[EPOCH: 47], 	Train Loss: 4713.7096

[EPOCH: 48], 	Train Loss: 4621.1287

[EPOCH: 49], 	Train Loss: 4667.8415

[EPOCH: 50], 	Train Loss: 4675.2008

[EPOCH: 51], 	Train Loss: 4631.6261

[EPOCH: 52], 	Train Loss: 4666.8682

[EPOCH: 53], 	Train Loss: 4628.8602

[EPOCH: 54], 	Train Loss: 4576.9123

[EPOCH: 55], 	Train Loss: 4519.7087

[EPOCH: 56], 	Train Loss: 4604.8294

[EPOCH: 57], 	Train Loss: 4616.6304

[EPOCH: 58], 	Train Loss: 4562.3776

[EPOCH: 59], 	Train Loss: 4539.9236

[EPOCH: 60], 	Train Loss: 4547.6016

[EPOCH: 61], 	Train Loss: 4476.4397

[EPOCH: 62], 	Train Loss: 4438.4659

[EPOCH: 63], 	Train Loss: 4461.2275

[EPOCH: 64], 	Train Loss: 4453.9749

[EPOCH: 65], 	Train Loss: 4445.0276

[EPOCH: 66], 	Train Loss: 4480.8672

[EPOCH: 67], 	Train Loss: 4446.2686

[EPOCH: 68], 	Train Loss: 4448.3281

[EPOCH: 69], 	Train Loss: 4368.4766

[EPOCH: 70], 	Train Loss: 4371.7858

[EPOCH: 71], 	Train Loss: 4371.7910

[EPOCH: 72], 	Train Loss: 4415.9230

[EPOCH: 73], 	Train Loss: 4347.8630

[EPOCH: 74], 	Train Loss: 4317.7015

[EPOCH: 75], 	Train Loss: 4313.2593

[EPOCH: 76], 	Train Loss: 4322.6255

[EPOCH: 77], 	Train Loss: 4289.8351

[EPOCH: 78], 	Train Loss: 4275.3889

[EPOCH: 79], 	Train Loss: 4354.4795

[EPOCH: 80], 	Train Loss: 4269.4822

[EPOCH: 81], 	Train Loss: 4241.3751

[EPOCH: 82], 	Train Loss: 4331.4947

[EPOCH: 83], 	Train Loss: 4232.5344

[EPOCH: 84], 	Train Loss: 4261.6470

[EPOCH: 85], 	Train Loss: 4234.7834

[EPOCH: 86], 	Train Loss: 4240.4513

[EPOCH: 87], 	Train Loss: 4230.7878

[EPOCH: 88], 	Train Loss: 4199.0547

[EPOCH: 89], 	Train Loss: 4302.0789

[EPOCH: 90], 	Train Loss: 4263.3823

[EPOCH: 91], 	Train Loss: 4186.0894

[EPOCH: 92], 	Train Loss: 4241.8664

[EPOCH: 93], 	Train Loss: 4256.3287

[EPOCH: 94], 	Train Loss: 4157.6992

[EPOCH: 95], 	Train Loss: 4238.6969

[EPOCH: 96], 	Train Loss: 4213.5821

[EPOCH: 97], 	Train Loss: 4203.1022

[EPOCH: 98], 	Train Loss: 4180.0740

[EPOCH: 99], 	Train Loss: 4158.1285

[EPOCH: 100], 	Train Loss: 4149.1711

In [19]:
result = evaluate(encoder, decoder, train_loader)
result

array([[0.04419555, 0.02060422, 0.04253022, ..., 0.06613365, 0.08281999,
        0.03379852],
       [0.04620316, 0.04552369, 0.04119938, ..., 0.03575445, 0.05829491,
        0.04189261],
       [0.00388523, 0.00343378, 0.00321063, ..., 0.00283079, 0.00624221,
        0.00401381],
       ...,
       [0.00391988, 0.00132025, 0.00190714, ..., 0.00131614, 0.00698443,
        0.00292291],
       [0.00223107, 0.00423682, 0.00342549, ..., 0.00306904, 0.00545732,
        0.00377119],
       [0.02060548, 0.0030377 , 0.00636792, ..., 0.00295551, 0.01683836,
        0.0147502 ]], dtype=float32)

In [20]:
watching_metrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [21]:
movie_li = df.columns.tolist()
result[watching_metrix >= 1] = -1

In [22]:
recommend_li = []
for i in result.argmax(axis=1):
  recommend_li.append(movie_li[i])

In [23]:
recommend_df = pd.DataFrame()
recommend_df['user_id'] = df.index.tolist()
recommend_df['movie'] = recommend_li
recommend_df.head(10)

   user_id                                 movie
0        1                              Rain Man
1        2                              Rain Man
2        3                          The 39 Steps
3        4                       Men in Black II
4        5                          The 39 Steps
5        6              The Million Dollar Hotel
6        7    Terminator 3: Rise of the Machines
7        8  Confession of a Child of the Century
8        9                          The 39 Steps
9       10    Terminator 3: Rise of the Machines

현재 user_id 7 에게 Terminator 3: Rise of the Machines 영화를 추천해주었다는 것을 알 수 있다. 

현재 추천시스템의 성능을 파악하기 위해서는 user_id 7이 Terminator관련 영화를 보았다는 가정이 필요하다.

In [24]:
for i in df.columns.tolist():
  if 'Terminator' in i:
    print(i)

Terminator 2: Judgment Day
Terminator 3: Rise of the Machines
Terminator Salvation
The Terminator
The Terminators

현재 영화 리스트에 Terminator관련 영화가 5개가 존재한다는 것을 알 수 있다.

In [25]:
for i in df.iloc[6][df.iloc[6] >= 1].index.tolist():
  if 'Terminator' in i:
    print(i)

Terminator Salvation

user_id 7은 Terminator Salvation 영화를 보았었기 때문에 Terminator 3: Rise of the Machines 영화를 추천해준 것은 어느 정도 타당성이 존재한다고 볼 수 있다.

하지만 현재 모델 자체의 성능이 우수하다고 평가할 수는 없을 것이다. 왜냐하면 user_id 7이 Terminator Salvation 영화에 대해서 어떠한 평가를 내렸을지에 대한 요소가 포함되지 않았으며 대부분의 사람들에게 Terminator 관련 영화를 추천해주는 것처럼 보이는데 단순히 많은 사람들이 보았기 때문에 추천을 해줄 수도 있기 때문이다. 그럼에도 현재 모델이 Terminator 관련 영화를 본 사람에게 Terminator 관련 영화를 추천해준 것에 큰 의의를 가진다.