# Collaborative Filtering-based Model

## Neighborhood Model

![image.png]()

### 유저 기반

input = 행 - 사용자, 열 - 영화, 값 - 평점

output = 사용자를 기준으로 유사한 사용자를 기반으로 하여 영화를 추천

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [ ]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)
meta = meta.rename(columns={'id':'movieId'})

movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], on='movieId')
movie.head()

   userId movieId  rating   timestamp original_title
0       1    1371     2.5  1260759135      Rocky III
1       4    1371     4.0   949810302      Rocky III
2       7    1371     3.0   851869160      Rocky III
3      19    1371     4.0   855193404      Rocky III
4      21    1371     3.0   853852263      Rocky III

In [ ]:
id2title = {}
title2id =  {}

for title, movieId in zip(movie['original_title'], movie['movieId']):
  id2title[movieId] = title
  title2id[title] = movieId

In [ ]:
idx = title2id['Spider-Man 2']

In [ ]:
user_base = movie.pivot_table(index='userId', columns = 'movieId', values = 'rating').fillna(0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
CF = cosine_similarity(user_base, user_base)

CF = pd.DataFrame(CF)

CF.index = user_base.index
CF.columns = user_base.index

CF.head()

userId       1         2         3    ...       669       670       671
userId                                ...
1       1.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
2       0.000000  1.000000  0.172900  ...  0.044339  0.173073  0.109078
3       0.000000  0.172900  1.000000  ...  0.106074  0.224741  0.206307
4       0.111740  0.118982  0.065062  ...  0.121362  0.009076  0.146577
5       0.045325  0.105927  0.138674  ...  0.000000  0.073629  0.206709

[5 rows x 671 columns]

In [ ]:
def getCF(userId):

  my_df = movie[movie['userId'] == userId]
  my_df = my_df['original_title'].values.tolist()

  recommend_ldx = CF.loc[userId, :].sort_values(ascending = False)[ :10].index.tolist()[1]

  recommend_df = movie[movie['userId'] == recommend_ldx]
  recommend_df = recommend_df['original_title'].values.tolist()

  print(f'=====My({userId}) Movie List=====')
  print(*my_df, sep='\n')
  print()
  print(f'=====Most similar User({recommend_ldx}) List=====')
  print(*recommend_df, sep='\n')

In [ ]:
getCF(1)

=====My(1) Movie List=====
Rocky III
Greed
American Pie
My Tutor
Jay and Silent Bob Strike Back
Vivement dimanche!

=====Most similar User(325) List=====
Rocky III
My Tutor
Monsters, Inc.
Tuya de hun shi
Underworld
The Great Dictator
28 Weeks Later
Back to the Future
Frankenstein Unbound

### 아이템 기반

input = 행 - 영화, 열 - 사용자, 값 - 평점

output = 영화를 기준으로 평점이 유사한 영화를 기반으로 추천

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [ ]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)
meta = meta.rename(columns={'id':'movieId'})

movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], on='movieId')
movie.head()

   userId movieId  rating   timestamp original_title
0       1    1371     2.5  1260759135      Rocky III
1       4    1371     4.0   949810302      Rocky III
2       7    1371     3.0   851869160      Rocky III
3      19    1371     4.0   855193404      Rocky III
4      21    1371     3.0   853852263      Rocky III

In [ ]:
id2title = {}
title2id =  {}

for title, movieId in zip(movie['original_title'], movie['movieId']):
  id2title[movieId] = title
  title2id[title] = movieId

In [ ]:
idx = title2id['Spider-Man 2']

In [ ]:
item_base = movie.pivot_table(index='movieId', columns = 'userId', values = 'rating').fillna(0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
CBF= cosine_similarity(item_base, item_base)

CBF = pd.DataFrame(CBF)

CBF.index = item_base.index
CBF.columns = item_base.index

CBF.head()

movieId  100  100017  100032  100272  ...       992       994       996  99846
movieId                               ...
100      1.0     0.0     0.0     0.0  ...  0.102418  0.133132  0.078507    0.0
100017   0.0     1.0     0.0     0.0  ...  0.000000  0.000000  0.000000    0.0
100032   0.0     0.0     1.0     0.0  ...  0.000000  0.196649  0.000000    0.0
100272   0.0     0.0     0.0     1.0  ...  0.000000  0.000000  0.000000    0.0
100450   0.0     0.0     0.0     0.0  ...  0.000000  0.000000  0.000000    0.0

[5 rows x 2830 columns]

In [ ]:
def getCBF(movieId):

  title = id2title[movieId]
  recommend_list = []
  recommend_ldx = CBF.loc[movieId, :].sort_values(ascending = False)[ :10].index.tolist()
  recommend_list = [id2title[idx] for idx in recommend_ldx]

  print(f'입력 영화: {title}')
  print()
  print(f'=====Most similar List=====')

  return recommend_list

In [ ]:
getCBF(idx)

입력 영화: Spider-Man 2

=====Most similar List=====

['Spider-Man 2',
 'The Great Global Warming Swindle',
 'As Good as It Gets',
 'Close Encounters of the Third Kind',
 'Pierrot le fou',
 'Trick',
 'The Holiday',
 'House of Frankenstein',
 'Pi',
 'Forrest Gump']

## Latent Factor Model

사용자가 매긴 평점을 바탕으로 잠재요인을 찾아서 ? 부분을 유추해내는 방식

![image.png]()

### SGD

가중치를 동시에 초기화

input = 행 - 사용자, 열 - 영화, 값 - 평점

output = 사용자가 보지 않은 영화의 평점을 추론하여 영화를 추천

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [ ]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)
meta = meta.rename(columns={'id':'movieId'})

In [ ]:
movie.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], on='movieId')
movie.head()

   userId movieId  rating   timestamp original_title
0       1    1371     2.5  1260759135      Rocky III
1       4    1371     4.0   949810302      Rocky III
2       7    1371     3.0   851869160      Rocky III
3      19    1371     4.0   855193404      Rocky III
4      21    1371     3.0   853852263      Rocky III

In [ ]:
df = movie.pivot_table(index='userId', columns = 'movieId', values = 'rating').fillna(0)
df.head()

movieId  100  100017  100032  100272  100450  ...  99106  992  994  996  99846
userId                                        ...
1        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
2        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
3        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
4        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
5        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0

[5 rows x 2830 columns]

In [ ]:
R = df.iloc[:, : ].values

In [ ]:
import numpy as np
from tqdm import tqdm_notebook as tqdm

import numpy as np

# Base code : https://yamalab.tistory.com/92
class MatrixFactorization():
    def __init__(self, R, k, learning_rate, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """
        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._learning_rate = learning_rate
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        """
        training Matrix Factorization : Update matrix latent weight and bias

        참고: self._b에 대한 설명
        - global bias: input R에서 평가가 매겨진 rating의 평균값을 global bias로 사용
        - 정규화 기능. 최종 rating에 음수가 들어가는 것 대신 latent feature에 음수가 포함되도록 해줌.

        :return: training_process
        """

        # init latent features
        self._P = np.random.normal(size=(self._num_users, self._k))
        self._Q = np.random.normal(size=(self._num_items, self._k))

        # init biases
        self._b_P = np.zeros(self._num_users)
        self._b_Q = np.zeros(self._num_items)
        self._b = np.mean(self._R[np.where(self._R != 0)])

        # train while epochs
        self._training_process = []
        for epoch in range(self._epochs):
            # rating이 존재하는 index를 기준으로 training
            xi, yi = self._R.nonzero()
            for i, j in zip(xi, yi):
                self.gradient_descent(i, j, self._R[i, j])
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """

        # xi, yi: R[xi, yi]는 nonzero인 value를 의미한다.
        # 참고: http://codepractice.tistory.com/90
        xi, yi = self._R.nonzero()
        # predicted = self.get_complete_matrix()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - self.get_prediction(x, y), 2)
        return np.sqrt(cost/len(xi))


    def gradient(self, error, i, j):
        """
        gradient of latent feature for GD

        :param error: rating - prediction error
        :param i: user index
        :param j: item index
        :return: gradient of latent feature tuple
        """

        dp = (error * self._Q[j, :]) - (self._reg_param * self._P[i, :])
        dq = (error * self._P[i, :]) - (self._reg_param * self._Q[j, :])
        return dp, dq


    def gradient_descent(self, i, j, rating):
        """
        graident descent function

        :param i: user index of matrix
        :param j: item index of matrix
        :param rating: rating of (i,j)
        """

        # get error
        prediction = self.get_prediction(i, j)
        error = rating - prediction

        # update biases
        self._b_P[i] += self._learning_rate * (error - self._reg_param * self._b_P[i])
        self._b_Q[j] += self._learning_rate * (error - self._reg_param * self._b_Q[j])

        # update latent feature
        dp, dq = self.gradient(error, i, j)
        self._P[i, :] += self._learning_rate * dp
        self._Q[j, :] += self._learning_rate * dq


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._b + self._b_P[i] + self._b_Q[j] + self._P[i, :].dot(self._Q[j, :].T)


    def get_complete_matrix(self):
        """
        computer complete matrix PXQ + P.bias + Q.bias + global bias

        - PXQ 행렬에 b_P[:, np.newaxis]를 더하는 것은 각 열마다 bias를 더해주는 것
        - b_Q[np.newaxis:, ]를 더하는 것은 각 행마다 bias를 더해주는 것
        - b를 더하는 것은 각 element마다 bias를 더해주는 것

        - newaxis: 차원을 추가해줌. 1차원인 Latent들로 2차원의 R에 행/열 단위 연산을 해주기위해 차원을 추가하는 것.

        :return: complete matrix R^
        """
        return self._b + self._b_P[:, np.newaxis] + self._b_Q[np.newaxis:, ] + self._P.dot(self._Q.T)

In [ ]:
factorizer = MatrixFactorization(R, k=3, learning_rate=0.01, reg_param=0.01, epochs=100, verbose=True)
factorizer.fit()

Iteration: 10 ; cost = 0.8341
Iteration: 20 ; cost = 0.8074
Iteration: 30 ; cost = 0.7916
Iteration: 40 ; cost = 0.7789
Iteration: 50 ; cost = 0.7681
Iteration: 60 ; cost = 0.7586
Iteration: 70 ; cost = 0.7502
Iteration: 80 ; cost = 0.7429
Iteration: 90 ; cost = 0.7363
Iteration: 100 ; cost = 0.7306

In [ ]:
R

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
factorizer.get_complete_matrix()

array([[2.39563166, 1.74930765, 1.24809117, ..., 2.80052208, 1.81612915,
        2.81013474],
       [3.5164389 , 2.85180345, 2.95014439, ..., 3.96138126, 3.14120525,
        3.81285786],
       [4.89052362, 4.81619837, 3.30627145, ..., 2.66607157, 1.89491717,
        2.75301727],
       ...,
       [3.70262147, 3.08783214, 2.95125486, ..., 3.94584142, 3.08214603,
        3.75289806],
       [3.55411346, 2.79249382, 3.34985997, ..., 4.87603876, 3.60187204,
        2.03721604],
       [3.14783051, 2.22571234, 3.06300267, ..., 4.87674571, 3.9101293 ,
        3.91327632]])

### ALS

가중치를 순서대로 초기화

input = 행 - 사용자, 열 - 영화, 값 - 평점

output = 사용자가 보지 않은 영화의 평점을 추론하여 영화를 추천

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [ ]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)
meta = meta.rename(columns={'id':'movieId'})

In [ ]:
movie.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], on='movieId')
movie.head()

   userId movieId  rating   timestamp original_title
0       1    1371     2.5  1260759135      Rocky III
1       4    1371     4.0   949810302      Rocky III
2       7    1371     3.0   851869160      Rocky III
3      19    1371     4.0   855193404      Rocky III
4      21    1371     3.0   853852263      Rocky III

In [ ]:
df = movie.pivot_table(index='userId', columns = 'movieId', values = 'rating').fillna(0)
df.head()

movieId  100  100017  100032  100272  100450  ...  99106  992  994  996  99846
userId                                        ...
1        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
2        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
3        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
4        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0
5        0.0     0.0     0.0     0.0     0.0  ...    0.0  0.0  0.0  0.0    0.0

[5 rows x 2830 columns]

In [ ]:
R = df.iloc[:, : ].values

In [ ]:
import numpy as np
from tqdm import tqdm_notebook as tqdm

# Base code : https://github.com/mickeykedia/Matrix-Factorization-ALS/blob/master/ALS%20Python%20Implementation.py
class AlternatingLeastSquares():
    def __init__(self, R, k, reg_param, epochs, verbose=False):
        """
        :param R: rating matrix
        :param k: latent parameter
        :param learning_rate: alpha on weight update
        :param reg_param: beta on weight update
        :param epochs: training epochs
        :param verbose: print status
        """
        self._R = R
        self._num_users, self._num_items = R.shape
        self._k = k
        self._reg_param = reg_param
        self._epochs = epochs
        self._verbose = verbose


    def fit(self):
        # init latent features
        self._users = np.random.normal(size=(self._num_users, self._k))
        self._items = np.random.normal(size=(self._num_items, self._k))

        # train while epochs
        self._training_process = []
        self._user_error = 0; self._item_error = 0; 
        for epoch in range(self._epochs):
            for i, Ri in enumerate(self._R):
                self._users[i] = self.user_latent(i, Ri)
                self._user_error = self.cost()
                
            for j, Rj in enumerate(self._R.T):
                self._items[j] = self.item_latent(j, Rj)
                self._item_error = self.cost()
                
            cost = self.cost()
            self._training_process.append((epoch, cost))

            # print status
            if self._verbose == True and ((epoch + 1) % 10 == 0):
                print("Iteration: %d ; cost = %.4f" % (epoch + 1, cost))


    def cost(self):
        """
        compute root mean square error
        :return: rmse cost
        """
        xi, yi = self._R.nonzero()
        cost = 0
        for x, y in zip(xi, yi):
            cost += pow(self._R[x, y] - self.get_prediction(x, y), 2)
        return np.sqrt(cost/len(xi))


    def user_latent(self, i, Ri):
        """
        :param error: rating - prediction error
        :param i: user index
        :param Ri: Rating of user index i
        :return: convergence value of user latent of i index
        """

        du = np.linalg.solve(np.dot(self._items.T, np.dot(np.diag(Ri), self._items)) + self._reg_param * np.eye(self._k),
                                   np.dot(self._items.T, np.dot(np.diag(Ri), self._R[i].T))).T
        return du

    def item_latent(self, j, Rj):
        """
        :param error: rating - prediction error
        :param j: item index
        :param Rj: Rating of item index j
        :return: convergence value of itemr latent of j index
        """

        di = np.linalg.solve(np.dot(self._users.T, np.dot(np.diag(Rj), self._users)) + self._reg_param * np.eye(self._k),
                                 np.dot(self._users.T, np.dot(np.diag(Rj), self._R[:, j])))
        return di


    def get_prediction(self, i, j):
        """
        get predicted rating: user_i, item_j
        :return: prediction of r_ij
        """
        return self._users[i, :].dot(self._items[j, :].T)


    def get_complete_matrix(self):
        """
        :return: complete matrix R^
        """
        return self._users.dot(self._items.T)

In [ ]:
# 속도가 매우느려 임의로 평점을 조정함
R = np.array([
    [1, 0, 0, 1, 3],
    [2, 0, 3, 1, 1],
    [1, 2, 0, 5, 0],
    [1, 0, 0, 4, 4],
    [2, 1, 5, 4, 0],
    [5, 1, 5, 4, 0],
    [0, 0, 0, 1, 0],
])

als = AlternatingLeastSquares(R = R, reg_param = 0.1, epochs=100, verbose=True, k=5)
als.fit()

Iteration: 10 ; cost = 0.0200
Iteration: 20 ; cost = 0.0166
Iteration: 30 ; cost = 0.0151
Iteration: 40 ; cost = 0.0145
Iteration: 50 ; cost = 0.0143
Iteration: 60 ; cost = 0.0143
Iteration: 70 ; cost = 0.0144
Iteration: 80 ; cost = 0.0146
Iteration: 90 ; cost = 0.0147
Iteration: 100 ; cost = 0.0148

In [ ]:
R

array([[1, 0, 0, 1, 3],
       [2, 0, 3, 1, 1],
       [1, 2, 0, 5, 0],
       [1, 0, 0, 4, 4],
       [2, 1, 5, 4, 0],
       [5, 1, 5, 4, 0],
       [0, 0, 0, 1, 0]])

In [ ]:
als.get_complete_matrix()

array([[ 0.99053917,  0.3100578 ,  1.01097062,  1.027693  ,  2.97420339],
       [ 1.99260444, -0.05728324,  2.9807566 ,  1.02478082,  1.00020902],
       [ 1.00184226,  1.97387914,  2.38603688,  4.98765392,  2.59747164],
       [ 1.01181648,  1.51901049,  2.24122549,  3.99156938,  3.98754542],
       [ 2.01519626,  1.01238285,  4.98771579,  3.99528795,  2.42583374],
       [ 4.98642764,  1.00193712,  5.00113259,  3.99713092,  3.0848964 ],
       [ 0.21991405,  0.37845909,  0.52443128,  0.98187058,  0.51760309]])

# 데이터 출처
- https://www.kaggle.com/chocozzz/t-academy-recommendation2


# 참고자료

- https://developers.google.com/machine-learning/recommendation?hl=ko

- https://tacademy.skplanet.com/live/player/onlineLectureDetail.action?seq=194

- https://www.youtube.com/watch?v=1fhNX_JFaow

- https://brunch.co.kr/@kakao-it/72#comment

- https://www.youtube.com/watch?v=h6vePourB7E&list=LL&index=1&t=15s

- https://ratsgo.github.io/generative%20model/2018/01/27/VAE/

- https://github.com/GunhoChoi/PyTorch-FastCampus/blob/master/08_Autoencoder/3_Variational_Autoencoder.ipynb

- https://ko-kr.facebook.com/groups/TensorFlowKR/permalink/524873987853664/

- https://doheelab.github.io/recommender-system/ncf_mlp/