# Rule-based Model

## Apriori

![image.png]()

고객의 장바구니를 분석하여 나와 비슷한 영화를 본 유저의 정보를 바탕으로 영화를 추천

input = user가 지금 까지 본 영화

output = user가 본 영화 데이터를 기반으로 비슷한 영화를 묶어 추천

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings

warnings.filterwarnings(action='ignore')
%matplotlib inline

In [ ]:
movie_paths = '/content/drive/MyDrive/추천/data/movies/'

movie = pd.read_csv(movie_paths + "ratings.csv")
meta = pd.read_csv(movie_paths + 'movies_metadata.csv', low_memory=False)

In [ ]:
movie.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
meta = meta.rename(columns={'id':'movieId'})
movie['movieId'] = movie['movieId'].astype(str)
meta['movieId'] = meta['movieId'].astype(str)

movie = pd.merge(movie, meta[['movieId', 'original_title']], how='left', on='movieId')
movie = movie[movie['original_title'].notnull()].reset_index(drop=True)
movie.head()

   userId movieId  rating   timestamp                  original_title
0       1    1371     2.5  1260759135                       Rocky III
1       1    1405     1.0  1260759203                           Greed
2       1    2105     4.0  1260759139                    American Pie
3       1    2193     2.0  1260759198                        My Tutor
4       1    2294     2.0  1260759108  Jay and Silent Bob Strike Back

In [ ]:
agg = movie.groupby(['userId'])['original_title'].agg({'unique'})
agg.head()

                                                   unique
userId
1       [Rocky III, Greed, American Pie, My Tutor, Jay...
2       [The Dark, 2001: A Space Odyssey, Trois couleu...
3       [Trois couleurs : Rouge, The Killing, Carne tr...
4       [Italiensk for begyndere, Donnie Darko, Lost i...
5       [Varjoja paratiisissa, Lola rennt, Donnie Dark...

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(agg['unique'].values).transform(agg['unique'].values)

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

   !Women Art Revolution  'Gator Bait  ...    해안선      활
0                  False        False  ...  False  False
1                  False        False  ...  False  False
2                  False        False  ...  False  False
3                  False        False  ...  False  False
4                  False        False  ...  False  False

[5 rows x 2798 columns]

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
association_rules(frequent_itemsets , metric="confidence", min_threshold=0.3)

                            antecedents  ... conviction
0  (Terminator 3: Rise of the Machines)  ...   1.655525
1            (The Million Dollar Hotel)  ...   1.748153
2  (Terminator 3: Rise of the Machines)  ...   1.772101
3                             (Солярис)  ...   1.965127
4                             (Солярис)  ...   1.681442
5            (The Million Dollar Hotel)  ...   1.635575

[6 rows x 9 columns]

# 데이터 출처
- https://www.kaggle.com/chocozzz/t-academy-recommendation2


# 참고자료

- https://developers.google.com/machine-learning/recommendation?hl=ko

- https://tacademy.skplanet.com/live/player/onlineLectureDetail.action?seq=194

- https://www.youtube.com/watch?v=1fhNX_JFaow

- https://brunch.co.kr/@kakao-it/72#comment

- https://www.youtube.com/watch?v=h6vePourB7E&list=LL&index=1&t=15s

- https://ratsgo.github.io/generative%20model/2018/01/27/VAE/

- https://github.com/GunhoChoi/PyTorch-FastCampus/blob/master/08_Autoencoder/3_Variational_Autoencoder.ipynb

- https://ko-kr.facebook.com/groups/TensorFlowKR/permalink/524873987853664/

- https://doheelab.github.io/recommender-system/ncf_mlp/